:root {
  --blue: #4287f5;
  --dark-grey: #7a7a7a;
  --light-grey: #808080;
  --white: #fff;
  --red: #990000;
  --transition-time: 0.3s;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.ttf");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #2b2b2b;
  color: var(--white);
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.generator {
  width: 80vw;
  max-width: 800px;
  border-radius: 5px;
  padding: 35px;
}

.title {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  margin-bottom: 20%;
}

.align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px;
}

#result,
#long,
#taille {
  transition: border var(--transition-time);
}

#result {
  width: 100%;
  min-height: 60px;
  border: 2px solid --dark-grey;
  border-radius: 5px;
  color: var(--white);
  padding: 15px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: border var(--transition-time);
  background-color: var(--light-grey);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
}

#result:focus,
#long:focus,
#taille:focus {
  border-color: var(--blue);
}

.button,
#copier {
  width: 48%;
  padding: 15px;
  border-radius: 4px;
  border: none;
  background-color: var(--blue);
  transition: all var(--transition-time) ease;
  cursor: pointer;
  margin: 10px 0 5%;
  font-size: 18px;
}

#copier {
  font-size: 20px;
  width: 100%;
}

#copier.error {
  background-color: var(--red);
  color: var(--white);
  animation: shake var(--transition-time);
  cursor: not-allowed;
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0) scale(1);
  }
  25% {
    transform: translateX(-2px) rotate(0.5deg) scale(1.01);
  }
  50% {
    transform: translateX(2px) rotate(-0.5deg) scale(1.02);
  }
  75% {
    transform: translateX(-2px) rotate(0.5deg) scale(1.01);
  }
  100% {
    transform: translateX(0) rotate(0) scale(1);
  }
}

button {
  color: var(--white);
}

#copier.error:hover {
  background-color: #9a0000;
}

.button:hover,
#copier:hover {
  background-color: #2a69d0;
}

#long {
  border-radius: 4px;
  width: 90%;
}

#taille {
  text-align: center;
  border-radius: 4px;
}

.options {
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

label {
  display: block;
  font-weight: normal;
  font-family: 'Lato';
}

input[type="checkbox"] {
  transition: transform var(--transition-time);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  transform: scale(1.2);
  cursor: pointer;
}

.option {
  gap: 10px;
}
